body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 400;
    background: #4C566A;
    color: white;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    font-family: "Poppins", sans-serif;
    width: 100%;
    font-size: 16px;
}

#med_tracker {
    /*padding: 3px;*/
}

.navbar {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px;
    justify-content: flex-start;
    text-decoration: none;
    list-style: none;
    margin-top: 0;
    box-sizing: border-box;
    overflow: hidden;
    font-size: 17px;
}

.navbar ul {
    display: flex;
    flex-grow: 1;
    margin: 0;
    list-style: none;
    align-items: center;
}

.navbar ul li {
    margin: 0 5px;
    padding: 0;
    display: inline-block;
}

.navbar ul li a {
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 14px 16px;
    font-size: 100%;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #0098a5;
    transition: background-color 0.3s, color 0.3s;
}

.navbar ul li a:hover {
    background-color: #f2f2f2;
    color: black;
}

.navbar ul li a:active {
    background-color: #ccc;
    color: black;
}

.navbar ul li.logout {
    margin-left: auto;
}

#logo {
    padding: 3px;
    width: 14%;
    margin-right: 30px;
    display: block;
}

.logout {
    margin-left: auto;
    margin-right: 10px;
    display: flex;
    align-items: center;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 20px 0;
}

.pagination a, .pagination span {
    padding: 8px 12px;
    text-decoration: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.pagination a:hover {
    background-color: #007BFF;
    color: white;
}

.pagination span {
    background-color: #007BFF;
    font-weight: bold;
}

.searchbar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 20px;
    margin-top: 40px;
}

#search-bar {
    width: 80%;
    max-width: 600px;
    padding: 20px;
}

form {
    display: flex;
}

input[type="text"] {
    flex: 1;
    padding: 10px;
    font-size: 16px;
}

button {
    padding: 10px 15px;
    font-size: 16px;
    border-left: none;
    cursor: pointer;
    background-color: #0098a5;
    color: white;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #007a85;
}

.big_table_container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: flex-start;
    text-decoration: none;
    padding-top: 30px;
}

#big_table {
    border: 2px solid black;
    border-collapse: collapse;
    width: 100%;
    box-sizing: border-box;
    margin: 8px;
    text-align: left;
}

#big_table th {
    border: 2px black solid;
    padding: 1px;
}

.notification_table {
    border: 2px solid black;
    border-collapse: separate;
    border-spacing: 0;
    width: 30%;
    box-sizing: border-box;
    margin-right: 10px;
    border-radius: 8px;
    overflow: hidden;
}

.notification_table th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

.notification_table th {
    background-color: #f2f2f2;
}

#out_date th {
    background-color: #E23A23;
    border: 2px solid black;
}

#near_out_date th {
    background-color: #FC7500;
    border: 2px solid black;
}

#far_out_date th {
    background-color: #31A719;
    border: 3px solid black;
}

#below_min_dose th {
    background-color: #3D3B8E;
    border: 3px solid black;
}

.button-link {
    background-color: #007a85;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 36px;
    border: 1px solid black;
}

.button-link:hover {
    background-color: #005f6b;
}

.profile a {
    font-size: 100%;
    text-decoration: underline;
    color: white;
}

.profile a:hover {
    text-decoration: underline;
    color: #B4182D;
}

#addmeds_form, #administer_form {
    margin-top: 60px;
    border: 1px solid black;
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    flex-direction: column;
    font-size: 20px;
    margin-left: 65%;
}

#administer_form tr {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 2px solid black;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
}

#administer_form td {
    flex: 1;
}

.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 10px;
    border-radius: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -100px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.info-icon {
    font-size: 18px;
    color: #0098a5;
    cursor: pointer;
}

.info-icon:hover {
    color: #007a85;
}
